#This file allows for the MODAQ 2.0 process to be started on system boot.
#to use it, copy this file to /etc/systemd/system/modaq.service
#you can then use "sudo systemctl enable modaq.service" to have the m2_launch.py start on boot

[Unit]
Description=ROS2 MODAQ2 launcher on system startup

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment="HOME=root"
ExecStartPre=/bin/sleep 2
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash; source /home/m2/MODAQ2/install/setup.bash; ros2 launch m2_launch m2_launch.py"


# sudo cp /home/m2/MODAQ2/service/modaq.service /etc/systemd/system/modaq.service